<div class="container">
    <div class="faq-section-labcc" style="margin-top: 0;">
        <div class="question-div" style="margin-bottom: 0;">
            <div class="text-center">
                <h2>Welcome to Pyongyang</h2>
            </div>
            <div class="capital-info">
                <div class="capital-image">
                    <h3>Capital Image:</h3>
                    <img src="/fileInclusion/lab1/Pyongyang.jpeg" alt="Pyongyang">
                </div>
            </div>
        </div>
    </div>
</div>