<div class="container">
    <div class="faq-section-labcc" style="margin-top: 0;">
        <div class="question-div" style="margin-bottom: 0;">
            <div class="text-center">
                <h2>Welcome To Admin Page</h2>
                <h2>Congratulations, You have Solved The Lab</h2>
            </div>
            <div class="capital-info">
                <div class="capital-image">
                    <img src="/fileInclusion/lab1/Admin.jpeg" alt="Success">
                </div>
            </div>
        </div>
    </div>
</div>