<div class="container">
    <div class="faq-section-labcc" style="margin-top: 0;">
        <div class="question-div" style="margin-bottom: 0;">
            <div class="text-center">
                <h2>Nice Apple</h2>
            </div>
            <div class="capital-info">
                <div class="capital-image">
                    <h3>Fruit Image:</h3>
                    <img src="/fileInclusion/lab2/Apple.jpeg" alt="Apple">
                </div>
            </div>
        </div>
    </div>
</div>