/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/



.testimonials__container {
  position: relative;
}

.testimonials__slider {
  overflow: hidden;
}



.testimonials__wrap {
  padding-left: 50px;
}

.testimonials__item {
  background-color: var(--secondary-bg);
  border: 1px solid color-mix(in srgb, var(--primary-text), transparent 90%);
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  position: relative;
  cursor: pointer;
}

.testimonials__img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid var(--background-color);
  position: absolute;
  left: -45px;
}

.testimonials__name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.testimonials__role {
  color: color-mix(in srgb, var(--primary-text), transparent 50%);
  font-size: 14px;
  margin: 0;
}

.testimonials__stars {
  margin: 10px 0;
}

.testimonials__star {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials__quote-icon {
  color: color-mix(in srgb, var(--main-color), transparent 60%);
  font-size: 26px;
  line-height: 0;
}

.testimonials__quote-icon--left {
  display: inline-block;
  position: relative;
  left: -5px;
}

.testimonials__quote-icon--right {
  display: inline-block;
  position: relative;
  right: -5px;
  top: 10px;
  transform: scale(-1, -1);
}

.testimonials__text {
  font-style: italic;
  margin: 15px auto;
}

.testimonials__slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials__slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--background-color);
  opacity: 1;
  border: 1px solid var(--main-color);
}

.testimonials__slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

@media (max-width: 767px) {
  .testimonials__wrap {
    padding-left: 0;
  }

  .testimonials__slider {
    overflow: hidden;
  }

  .testimonials__item {
    padding: 30px;
    margin: 15px;
  }

  .testimonials__img {
    position: static;
    left: auto;
  }
}
